/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/media/menu/*
!/public/media/menu/.htaccess
/public/media/branding/*
/storage/*.key
/storage/pail
/storage/backups
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
